services:
  mongo1:
    image: mongo:7
    command: ["mongod","--replSet","${MONGO_REPLSET}","--bind_ip_all","--port","27017"]
    ports:
      - "${MONGO1_PORT}:27017"
    volumes:
      - mongo1_data:/data/db

  mongo2:
    image: mongo:7
    command: ["mongod","--replSet","${MONGO_REPLSET}","--bind_ip_all","--port","27018"]
    ports:
      - "${MONGO2_PORT}:27018"
    volumes:
      - mongo2_data:/data/db

  mongo3:
    image: mongo:7
    command: ["mongod","--replSet","${MONGO_REPLSET}","--bind_ip_all","--port","27019"]
    ports:
      - "${MONGO3_PORT}:27019"
    volumes:
      - mongo3_data:/data/db

  init-rs:
    image: mongo:7
    depends_on: [mongo1, mongo2, mongo3]
    restart: "no"
    volumes:
      - ./scripts/rs-init.js:/rs-init.js:ro
    command: >
      mongosh --host mongo1:27017 /rs-init.js

volumes:
  mongo1_data:
  mongo2_data:
  mongo3_data:
